body {
  background-color: rgb(244,244,244);
/*  font-family: 'Signika', sans-serif;*/
  font-family: 'Maven Pro', sans-serif;
  color: #002852;
  font-size: 16px ;
  line-height: 26px;
  text-align: justify;
}
h1, h2 {
  font-family: 'Major Mono Display', monospace;
}
h1 {
  font-size: 30px;
  color: #002852;
}
h2 {
  font-size: 19px;
  color: #F45B02;
}
h3 {
  font-size: 17px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #2274A5;
}
a:hover {
  text-decoration: none;
  color: #FFC900;
}

a i {
  font-size: 20px;
}

p {
  line-height: 26px;
  text-align: justify;
}

img {
  border: 1px solid rgb(244,244,244);
}

td img{
  margin: 10px 10px 10px 0;
}

.btn {
  border: 1px solid #F45B02;
  color: #F45B02;
  border-radius: 0;
}

.btn:hover {
  border: 1px solid #F45B02;
  background-color: #F45B02;
  color:rgb(254,254,254);
}
/*.container {
  width: 500px;   /* This sets the width */
 /* margin: 0 auto; *//* This automatically sets left/right margins */
/*}*/


  /* For a screen >720px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto; /* This automatically sets left/right margins */
  }

  #page-content {
    margin-left: 70px;
  }

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 480px;
    margin: 0 auto; /* This automatically sets left/right margins */
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 375px;
    margin: 0 auto; /* This automatically sets left/right margins */
  }
  #sidebar {
    display: none;
  }
  #page-content {
    margin-left: 0px;
  }
}

  #sidebar {
    position: fixed;
    width: 70px;
    left: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background-color: #002852;
  }

  #sidebar ul {
  list-style: none;
  padding-left: 0;
  }
  #sidebar li {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #sidebar a {
    color: rgb(254,254,254);
  }
  #sidebar a:hover {
    color: #FFC900;
  }

.profile-card {
  background: rgb(254,254,254);
  border: 1px solid rgb(244,244,244);
  border-radius: 2px;
  box-shadow: 2px 2px 3px rgb(240,240,240);
  margin: 20 auto;
  padding: 20px;
}
/*margin/border/padding/width/height*/
#header {
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.list-inline {
  text-align: center;
  padding-left: 0;
  margin-bottom: 0;
}
.list-inline li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
.text-center {
  text-align: center;
}
#header p {
  text-align: center;
}

#header img {
  margin: 0 0 10px 0;
}
